.tenor-gif-embed {
    position: absolute;
    right: 0;
}

.left-text-right-media {
    display: flex;
    align-items: center;
}

.left-text-right-media > div {
    flex: 1; /* This assigns equal flexibility to both children */
}

/* Sidebar Navigation Styles */
#sidebar {
    width: 250px;
    position: absolute;
    left: 0;
    top: 200px;
    height: 100%;
    z-index: 1000;
    background: #1313132c; /* Dark background */
    color: white;
    overflow-y: auto;
    transition: all 0.3s;
}

#sidebar ul {
    padding: 20px 0;
    list-style: none;
}

#sidebar ul li {
    padding: 10px 20px;
    font-size: 1.2em;
}

#sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
}

#sidebar ul li a:hover {
    background-color: #555; /* Slightly lighter on hover */
}

/* Collapse Button Style */
#sidebarCollapse {
    position: fixed;
    top: 10px;
    right: -40px;
    width: 40px;
    height: 40px;
    background: #333;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s;
}

#sidebarCollapse:hover {
    background-color: #555;
}

/* Adjust main content when sidebar is open */
#main_content {
    transition: margin-left 0.3s;
    padding: 20px;
}

/* Media Query for Mobile Screens */
@media (max-width: 768px) {
    #sidebar {
        left: -250px; /* Hidden by default */
    }

    #sidebar.active {
        left: 0; /* Shown when active */
    }

    #main_content {
        margin-left: 0; /* Full width when sidebar is hidden */
    }
}
